---
import config from "@/config/config.json";
import DynamicIcon from "@/helpers/DynamicIcon";

interface Props {
  title: string;
  metric: string | number;
  icon?: string;
  iconClass?: string;
  comparison?: string;
  iconColor?: string;
}

const {
  title,
  metric,
  icon,
  iconClass = "w-5 h-5 text-primary",
  comparison,
  iconColor,
} = Astro.props;
---

<div class="py-3 px-4 group">
  <div class="flex flex-col">
    <h3 class="text-xs font-medium text-gray-500 dark:text-gray-400 mb-0.5">
      {title}
    </h3>

    <div class="flex items-center gap-1.5">
      {
        icon && (
          <div>
            <DynamicIcon icon={icon} className={iconClass} />
          </div>
        )
      }
      <p class="text-xl font-semibold">
        {metric}
      </p>
    </div>

    {
      comparison && (
        <p class="text-xs text-gray-500 dark:text-gray-400 mt-0.5">
          {comparison}
        </p>
      )
    }
  </div>
</div>
